/*----------------------------------------------------------------------------*\
    CONTENTS
\*----------------------------------------------------------------------------*/
/*

    NOTES           General notes
    PROJECT INFO    Information about the Project
    RESET           CSS reset/normalize
    IMPORTS         External/Vendors CSS Frameworks/Libraries
    FONTS           Customs Fonts that aren't from Google Fonts
    SHARED          Shared elements across the site.
    MAIN            HTML, BODY, etc.
*/

/*----------------------------------------------------------------------------*\
    $NOTES
\*----------------------------------------------------------------------------*/
/*
    How to seach this file:
    append '$' to the desired above section to go straight to it.
*/

/*----------------------------------------------------------------------------*\
    $PROJECT INFO
\*----------------------------------------------------------------------------*/
/*
    Project: Family 24h
    Developer: Gutem <gutem@eokoe.com>
    Midified by: govijuan <juan@eokoe.com>
    Project Manager: Gian <gian.vizzotto@eokoe.com>
*/

/*----------------------------------------------------------------------------*\
    $IMPORTS
\*----------------------------------------------------------------------------*/
@import "main";
@import "_bootstrap";
@import "jscrollpane";
@import "jquery-ui.css";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

/*----------------------------------------------------------------------------*\
    $VARIABLES
\*----------------------------------------------------------------------------*/
$black: #2e2e2e;
$white: #ffffff;

$dark_blue: #0066cc;
$dark_blue_shade: #03405f;

$light_blue: #32ccfe;
$light_blue_shade: #0098ca;
$aquamarine_blue: #5ef6fa;

$lighter_gray: #f7f7f7;
$light_gray: #e2e2e2;
$medium_gray: #999;
$dark_gray: #666;
$light-green: #50e3c2;
$fucsia: #bb0ea5;
$caqui: #f5a623;

/*----------------------------------------------------------------------------*\
    $SHARED
\*----------------------------------------------------------------------------*/
div, a, h1, h2, h3, span, li, p{
  font-family: 'Ubuntu', sans-serif;
}

.top {
  background-color: $white;
  width: 100%;
  height: 88px;
  float: left;
  z-index: 101;
	position: relative;
  &:before {
    top: -8px;
    height: 8px;
    content: "";
    display: block;
    width: 100%;
    background-image: linear-gradient(to left, $aquamarine_blue, $light_blue);
  }
  .int-page-title{
    color: $medium_gray;
    padding: 0 15px;
    width: 200px;
    display: block;
    position: relative;
    float: left;
    h2{
      font-weight: 300;
      font-size: 18px;
      margin-top: 40px;
    }
  }
  .top-left-wrap, .top-right-users-wrap, .top-right-groups-wrap{
    border-right: 1px solid $light_gray;
    color: $medium_gray;
  }
  .top-right-groups-wrap{cursor: pointer}
}

.logo {
  margin-left: 50px;
  float: left;

  img {
    height: 50px;
    margin-top: 10px;
  }
}

.user-buttons {
  float: right;
  .glyphicon { &:before {  } }
}
.user-invites{
	position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  margin-right: 15px;
  display: inline-block;
  color: $medium_gray;
  height: 30px;
  width: 30px;
  margin: 25px 0;
  border-radius: 4px;
  padding: 3px 8.5px;
  background: #eeedef;
  margin: 0 20px 0;
  .counter{
	  position: absolute;
		color: #fff;
		top: -9px;
		right: -9px;
		font-size: 0.5em;
		line-height: 12px;
		text-align: center;
		height: 19px;
		width: 19px;
		line-height: 11px;
		padding: 1px 0 0 1px;
		border-radius: 100%;
		background: #0066cc;
		border: 2.5px solid white;
  }
}
.user-config,
.user-messages {
  position: relative;
  cursor: context-menu;
  font-size: 20px;
  line-height: 30px;
  margin-right: 15px;
  display: inline-block;
  color: $medium_gray;
  height: 30px;
  width: 30px;
  margin: 25px 0;
  border-radius: 4px;
  padding: 3px 5px;
  background: #eeedef;
  .counter{
    position: absolute;
    color: #fff;
    top: -9px;
    right: -9px;
    font-size: 0.5em;
    line-height: 12px;
    text-align: center;
    height: 19px;
		width: 19px;
		line-height: 11px;
		padding: 1px 0 0 1px;
		border-radius: 100%;
		background: $dark_blue;
    border: 2.5px solid white;

  }
}
.top-right-users-wrap{
	height: 80px;
	cursor: pointer
}
.users-groups-arrow{
	float: right;
	line-height: 80px;
	vertical-align: middle
}
.user-config:hover,
.user-messages:hover {
  cursor: hand;
  cursor: pointer;
}

.profile_picture_url{
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  line-height: 80px;
  display: inline-block;
  vertical-align: middle
}
.profile_picture_url{ &:after {
	height: 8px;
	width: 8px;
	background: $dark_blue;
	border-radius: 100%;
	border: 2px solid $white;
	content: "\e013";
	font-family: 'Glyphicons Halflings';
	color: $white;
	font-size: 8px;
	padding: 2px 3px;
	margin: 0 29px;
} }
.nome-at-usuario{
	line-height: 80px;
	padding: 0 5px;
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
}
.config-box {
  display: none;
  background-color: #fff;
  padding: 15px 0;
  position: absolute;
  right: -20%;
  top: 70px;
  z-index: 1000;
  border-radius: 5px;
  border: 1px solid #efefef;
  width: 120%;
  margin: 30px 0;
  box-shadow: 0px 1px 2px rgba(0,0,0,.25);

  .top-tip {
    background-color: #fff;
    height: 20px;
    position: absolute;
    left: 20px;
    top: -20px;
    transform: rotate(45deg);
    width: 20px;
  }
}
.message-box {
  display: none;
  background-color: #fff;
  padding: 5px;
  position: absolute;
  right: -240px;
  top: 70px;
  z-index: 1001;
  border-radius: 5px;
  border: 1px solid #efefef;
  margin: 30px 0 0;

  .top-tip {
    background-color: #fff;
    height: 20px;
    position: absolute;
    left: 35px;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
    z-index: -1;
  }
  .message-list{
    max-height: 400px;
    min-width: 300px;
    max-width: 80%;
    overflow-y: auto;
    font-size: 0.9em;
    .item{
      padding: 5px;
      border-bottom: 1px solid #e0e0e0;
      p{
        margin-bottom: 2px;
      }
      .time{
        color: #999;
      }
    }
    .unread{
      background-color: #feffd7;
    }
    .unread:hover{
      cursor: hand;
      cursor: pointer;
    }
    .empty{
      color: #999;
      text-align: center;
      padding: 5px;
      font-style: italic;
    }
  }
  .message-loading{
    font-size: 0.9em;
    color: #999;
    text-align: center;
    padding: 4px;
  }
}

.confirm-modal,
.config-box {

  div {
    float: left;
    margin: 10px;
  }
}

.avatar {

  img {
    height: 64px;
    width: 64px;
  }
}

.dashboard-content {
  display: none;
}

.content {
  background-color: #ccc;
  float: left;
  position: relative;
  width: 100%;
}

#flash {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 78%;

  .message{
      display: inline;
  }
}

#flash-modal,
.flash-modal {
  display: none;
  margin: 0 auto;
  .message{
      display: inline;
  }
}

.left__bar {
  background-color: $light_blue;
  width: 10%;
  float: left;
  position: relative;
  display: none;
  .group-toggle{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
  }
  .group-toggle:hover{
    cursor: hand;
    cursor: pointer;
  }
  .group-select{
    padding: 5px 20px;
    text-align: center;
    select{
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 1.2em;
    }
  }
  .group-info{
    position: relative;
    padding: 0px 20px 10px 20px;
    text-align: center;
    .info{
      .item{
        padding: 5px 10px;
        text-align: left;
        border-bottom: 1px solid #82e0ff;
      }
      .created-by{
        text-align: center;
      }
      color: #fff;
      a{
        color: #fff;
      }
      a:hover{
        color: #337ab7;
        text-decoration: none;
      }
    }
  }
  .list-members-top,
  .list-fences-top,
  .list-fences-bottom{
    padding: 20px;
    border-bottom: 1px solid #82e0ff;
    color: #fff;
    a{
      color: #fff;
    }
    a:hover{
      color: #337ab7;
      text-decoration: none;
    }
  }
  .list-members-top,
  .list-fences-top{
    text-align: center;
  }
  .list-members,
  .list-fences{
    height: 90%;
    overflow-y: auto;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        position: relative;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        border-bottom: 1px solid #82e0ff;
      }
      li.active{
        color: #00ffea;
      }
      a{
        position: absolute;
        right: 2px;
        color: #fff;
      }
      a:hover{
        color: #337ab7;
        text-decoration: none;
      }
    }
  }
  .list-fences li:hover{
    color: #00ffea;
    cursor: hand;
    cursor: pointer;
  }
}


.bottom__bar {
  background-color: #fff;
  width: 100%;
  position: relative;
  clear: both;
  display: none;
  .icon-bottom-bar{
    padding: 5px;
    img{
      width: 30px;
      height: 30px;
    }
    img:hover{
      cursor: hand;
      cursor: pointer;
    }
  }
  .contents{
    text-align: center;
    height: 110px;
    overflow-y: auto;
  }
  .contents.closed{
    height: 0px;
  }
  .opened{
    height: 300px;
  }
  .user-list{
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      padding: 10px 20px;
      border-bottom: 1px solid #e0e0e0;
      p{
        margin: 0;
      }
      .timestamp{
        color: #999;
      }
      .user-avatar{
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
        background-size: cover;
        border-radius: 50px;
        background-repeat: no-repeat;
      }
      .force-position{
        font-size: 0.85em;
        margin-left: 5px;
      }
      .user-info{
        min-height: 80px;
        clear: right;
      }
    }
    li:hover{
      cursor: hand;
      cursor: pointer;
    }
    li:last-child{
      border-bottom: none;
    }
  }
  .user-history{
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    .info{
      p{
        margin: 0;
      }
      p.address{
        font-size: 0.9em;
      }
      .user-avatar{
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
        background-size: cover;
        border-radius: 50px;
        background-repeat: no-repeat;
      }
      .user-info{
        min-height: 80px;
        clear: right;
      }
    }
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .tabs{
      margin-top: 4px;
      li{
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        border-bottom: 1px solid #fff;
      }
      li.item.active{
        border-bottom: 1px solid #32ccfe;
      }
      li.item:hover{
        border-bottom: 1px solid #32ccfe;
        background-color: #e0e0e0;
        cursor: hand;
        cursor: pointer;
      }
      li.arrow:hover{
        color: #32ccfe;
        cursor: hand;
        cursor: pointer;
      }
      li.arrow.disabled{
        color: #e0e0e0;
      }
      li.arrow.disabled:hover{
        cursor: default;
      }
    }
    .history{
      padding: 10px;
      background-color: #f5f5f5;
    }
  }
}

.marker-info{
  .user-avatar{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
    background-size: cover;
    border-radius: 50px;
    background-repeat: no-repeat;
  }
  .user-info{
    min-height: 80px;
    clear: right;
  }
}

.buttons{
  list-style-type: none;
  padding: 0;
  magin: 0;
  li{ &:not(.logout-li) {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0 15px
  } }
  li:hover{
    background-color: #e0e0e0;
  }
}

.lock,
.ring,
.pattern,
.logout,
.wipe {
  p {
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
    margin: 0;
  }
}

.map{
  position: relative;
  #mapdiv{
    width: 100%;
    height: 100%;
  }
  #overmap{
    position: absolute;
    bottom: 25px;
    right: 50px;
    z-index: 99;
    .icons{
      font-size: 1.8em;
      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
          display: none;
          margin-top: 10px;
          width: 50px;
          height: 50px;
          background-color: #0066cc;
          border-radius: 5em;
          a{
            color: white;
            padding: 10px 13px;
            display: block;
          }
        }
        li:hover{
          background-color: #32ccfe;
          a{
            color: #fff;
          }
        }
      }
    }
  }
}

.map {
  float: left;
  z-index: 10;
  width: 90%;
  height: 100%;
}

.labels{
  color: white;
  font-size: 12px;
  text-align: center;
  width: 30px;
  white-space: nowrap;
}

.confirm-modal {
  background-color: #fff;
  border-radius: 5px;
  display: none;
  margin-left: -250px;
  outline: 0 none;
  overflow: hidden;
  padding: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 200;
  border: 1px solid #efefef;

  h3 {
    margin-top: 0;
  }

  .close {
    &:hover {
      transform: scale(1.5);
    }
  }
}

.btn-ring {
  float: right;
  clear: both;
}


.preloader {
 position: fixed;
  left: 0; top: 0;
   z-index: 999;
   width: 100%;
   height: 100%;
   overflow: visible;
   background: #333 url('/images/loading.gif') no-repeat center center;
}

#myModal .modal-body input[type=text],
#myModal .modal-body input[type=password]{
  border-radius: 4px;
  border-color: #e0e0e0;
  padding: 2px 5px;
  margin-bottom: 5px;
}

#myModalInvites{
  .invites{
    .item{
      display: none;
      .invite-count{
        text-align: center;
      }
      .caption-name,
      .caption-member,
      .caption-date{
        color: #999;
      }
      .name{
        font-weight: bold;
        font-size: 1.2em;
      }
    }
    .item.active{
      display: block;
    }
  }
}

.calendar{
  .ui-datepicker{
    width: 100%;
    margin: 0 auto;
  }
}
.time-label,
.time-slider{
  width: 80%;
  margin: 20px auto;
  
}

.time-slider{
	background: $light_gray none repeat;
}
.time-label{
  font-size: 1.2em;
  color: $light_gray;
  .row{
	  div{ padding-left: 0!important; padding-right: 0!important;}
  }
}

#contextMenu{
  position: absolute;
  display: none;
}
.datepicker-title, .time-slider-title{text-transform: uppercase; color: $light_blue; font-size: 11px; font-weight: 600; margin: 10px 0 30px;}
.datepicker-title{ padding: 0px 0px 0px 10px; }
.time-slider-title{padding: 0 0 0 20px;}

/*----------------------------------------------------------------------------*\
    $BILLING
\*----------------------------------------------------------------------------*/
.perfil {
  overflow: hidden;
}

.history {

}

.payment {
  border: 1px solid $medium_gray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;

  h3 {
    margin-bottom: 35px;
  }

  table {
    width: 100%;
    font-size: 16px;
  }

  tr {
    width: 100%;
    border-bottom: 1px solid $medium_gray;

    &:last-child {
      border: none;
    }
  }

  td {
    padding: 10px 0;
  }
}


/*----------------------------------------------------------------------------*\
    $EXTRA_SMALL
\*----------------------------------------------------------------------------*/
@media screen and  (max-width: 991px) {

  .left__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  #flash {
    top: 85px;
    right: 10px;
    width: 90%;
  }

  .map {
    float: left;
    width: 100%;
    height: 87%;
    position: relative;
    z-index: 1;
  }

  .lock,
  .ring,
  .pattern,
  .logout,
  .wipe {
    height: 85px;
    font-size: 0.8em;
    img {
      margin: 10px auto;
      width: 32px;
    }
  }
  .buttons{
    li{
      float: left;
      width: 25%;
      border-bottom: none;
    }
  }
}

/*----------------------------------------------------------------------------*\
    $Invites box Style
\*----------------------------------------------------------------------------*/
.invites-box{
	display: none;
	background-color: #fff;
	padding: 15px;
	position: absolute;
	right: -203px;
	top: 70px;
	z-index: 1000;
	border-radius: 5px;
	border: 1px solid #efefef;
	margin: 30px 0 0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	.top-tip {
    background-color: #fff;
    height: 20px;
    position: absolute;
    left: 35px;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
    z-index: -1;
  }
	.invites-list{
		min-width: 300px;
		max-width: 80%;
		min-height: 50px;
		overflow-y: scroll;
		max-height: 400px; 
		.invites-list-ul{
			list-style: none;
			padding: 0;
			margin: 20px 0 0;
			li{
				font-size: 13px;
				margin: 10px 0;
				height: 40px;
				&:nth-child(4n-7){
					.invite-icon{
						background: $light_blue;
					}
				}
				&:nth-child(4n-6){
					.invite-icon{
						background: $light-green;
					}
				}
				&:nth-child(4n-5){
					.invite-icon{
						background: $fucsia;
					}
				}
				&:nth-child(4n-4){
					.invite-icon{
						background: $caqui;
					}
				}
				.invite-icon, .invite-icon-clicked{
					border-radius: 100%;
					height: 40px;
					width: 40px;
					color: white;
					line-height: 40px;
					font-size: 22px;
					display: inline-block;
					padding: 0 0 0 6px;
					margin: 0 20px 0 0;
				}
				.invite-icon-clicked{
					padding: 2px 0 0 9.4px !important;
					float: left;
					background: $light-green;
				}
				.invite-accept-msg{
					color: $light-green;
					height: 40px;
					display: inline-block;
					float: left;
					vertical-align: middle;
					line-height: 40px;
				}
				.invite-text-content{
					display: inline-block;
					vertical-align: top;
					height: 40px;
					.reject-invite, .accept-invite{
						padding: 0 20px 0 0;
						text-transform: uppercase;
						color: $dark_blue;
						font-size: 11px;
						font-weight: 600;
						letter-spacing: 0.5pt;
						cursor: pointer;
					}
				}
				
			}
		}
	}
	
}

/*----------------------------------------------------------------------------*\
    Top Menu Group link and Groups boxes
\*----------------------------------------------------------------------------*/
.group-in-header{
	margin-top: calc( ( 80px - 45.7167px) / 2);
	width: calc( 100% - 54px );
	float: left;
	padding: 0 10px 0 15px;
	.grupo-atual-txt{
		font-size: 11px;
	}
	.nome-grupo-atual{
		font-size: 18px;
		line-height: 20px;
	}
}
.group-i-in-h{
	color: $light_blue;
	font-size: 40px;
	width: 40px;
	float: left;
	line-height: 80px;
	padding: 5px 0;
}
.groups-content-container{
	display: none;
	position: absolute;
	width: 330px;
	right: 0;
	height: 100%;
	background: white;
	z-index: 100;
	box-shadow: -5px -3px 7px rgba(0,0,0,0.1);
}
.groups-content-header{
	background-color: $dark_blue;
	height: 160px;
	width: 330px;
	color: white;
	padding: 15px 15px 10px 15px;
	position: relative;
}
.curr-group-info-in-h{
	color: white;
	position: absolute;
	bottom: 10px;

	.curr-group-in-h-txt{
		font-size: 22px;
		font-weight: 600;
	}
	.curr-group-length-txt{
		font-size: 12px
	}
}
.groups-in-info-header-wrap{text-align: right;}
.group-icon-in-info-h{
	border-radius: 100%;
	height: 30px;
	width: 30px;
	color: white;
	line-height: 30px;
	font-size: 18px;
	display: inline-block;
	padding: 2px 4px 0 0;
	margin: 0 3px;
	cursor: pointer;
}
.see-more-groups-in-h{
	border-radius: 100%;
	height: 30px;
	width: 30px;
	float: left;
	color: white;
	line-height: 30px;
	display: inline-block;
	margin: 0 0 0 3px;
	cursor: pointer;
	background: $dark_gray;
	padding: 0 6px 0 0;
}
.group-icon-in-info-h{ &:nth-child(4n-7){ background: $light_blue; } }
.group-icon-in-info-h{ &:nth-child(4n-6){ background: $light-green; } }
.group-icon-in-info-h{ &:nth-child(4n-5){ background: $fucsia; } }
.group-icon-in-info-h{ &:nth-child(4n-4){ background: $caqui; } }
.group-content{
	.group-members-ul{
		padding: 0;
		list-style: none;
		padding: 15px;
		.user-avatar{
			height: 40px;
			width: 40px;
			background-size: 100%;
			border-radius: 100%;
			display: block;
			float: left;
		}
		.user-info{
			width: calc(100% - 40px);
			display: block;
			float: left;
			padding: 0 0 0 15px;
			.name{
				color: $medium_gray;
				margin: 0;
			}
			.address{color: #B6B6B6; font-size: 12px; margin: 0;}
			.timestamp{
				color: $light_blue;
				font-size: 12px;
				margin: 0;
			}
		}
	}
	
}
.groups-listing-container{
	display: none;
	z-index: 10;
	position: absolute;
	margin-top: -40px;
	width: 100%;
	.group-list-in-g-content{
		padding: 25px 20px 20px;
		list-style: none;
		background: white;
		width: 100%;
		.group-icon{
			border-radius: 100%;
			color: white;
			font-size: 25px;
			height: 40px;
			width: 40px;
			float: left;
			clear: both;
			padding: 10px 0 0 4px;
		}
		.group-name-txt{
			height: 40px;
			float: left;
			line-height: 40px;
			padding: 0 0 0 15px;
			color: $medium_gray;
		}
	}
}

.group-list-in-g-content li{ &:nth-child(4n-7){ .group-icon{background: $light_blue;} } }
.group-list-in-g-content li { &:nth-child(4n-6){ .group-icon{background: $light-green;} } }
.group-list-in-g-content li { &:nth-child(4n-5){ .group-icon{background: $fucsia;} } }
.group-list-in-g-content li { &:nth-child(4n-4){ .group-icon{background: $caqui;} } }
.group-list-in-g-content li { &:after{ clear: both; } }
.group-list-in-g-content li {
	margin: 0 0 8px;
	display: block;
	height: 40px;
	width: 100%;
	cursor: pointer;
}
.group-list-in-g-content.visible{display: block!important}
.group-icons-wrap{width: calc(100% - 40px); float: left;}
.close-groups-list{margin: 0 6px 0 0;}





.usr-info-in-map-wrap{
	min-height: 400px;
	width: 310px;
	background: white;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 300;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.5s;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	z-index: -1;
	height: calc(100% - 40px);
	overflow: hidden;
}
.visible-urs-info{
	opacity: 1!important;
	z-index: 101!important;
}
.usr-info-in-map-content{text-align: center; padding: 50px 15px 0;}
.close-member-marker-label-info{
	margin: 0 6px 0 0;
}
.mrkr-info-member-img{
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-size: 100%;
	display: inline-block;
}
.nome-usr{
	color: $medium_gray;
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 20px;
}
.pos-title{color: $light_blue; text-align: left; text-transform: uppercase; margin: 0 0 8px; font-size: 12px;}
.pos-info{
	color: $medium_gray; 
	padding: 0 13px; 
	text-align: left; 
	font-weight: 300; 
	line-height: 16px;
	font-size: 13px;
	hr{
		margin: 10px 0 5px!important;
	}
}

.mrkr-info-member-img{ &:after{ height: 45px; width: 45px; background: $dark_blue; position: absolute;z-index: 103; border-radius: 100%; font-family: 'Glyphicons Halflings'; content: "\e013"; color: white; line-height: 45px; top: 125px; margin: 0 0 0 30px; border: 5px solid white; font-size: 20px } }
.hora-data-usr{color: $dark_gray; text-align: left; padding: 0 13px; font-size: 13px;}
.timestamp-cal-icon{
	font-size: 10px;
}
.timestamp-time-icon{font-size: 12px}
.hist-posicoes-wrap{margin: 30px 0 5px; text-align: left; color: $light_blue}
.hist-posicoes-link{color: $light_blue; text-decoration: none; text-transform: uppercase; font-size: 12px;}
.hist-posicoes-link{ &:hover { color: $dark_blue; text-decoration: none} }
.hist-pos-icon{font-size: 10px; margin: 5.85px 2px 2px 0; display: block; width: 10px; float: left;}
.hist-pos-intrucao{ color: $dark_blue; font-size: 10px; text-transform: uppercase; text-align: left; padding: 0 13px;}

/*----------------------------------------------------------------------------*\
    Member's Positions History Styles
\*----------------------------------------------------------------------------*/
.member-history{ 
	ul.tabs{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
		li{
			padding: 2.5px 5px 6px;
			text-align: center;
			border-bottom: 1px solid #fff;
			display: inline-block;
		}
		li.item{
			
			
			font-size: 13px;
			color: #666;
			&:hover{
				cursor: pointer;
				border-bottom: 1px solid $light_blue;
				background-color: $light_gray;
				color: $light_blue;
			}
		}
		li.item.active{
				border-bottom: 1px solid $light_blue;
				color: $light_blue;
		}
		li.arrow{ cursor: pointer;
							& :hover { color: $light_blue}
							.glyphicon{
								&:after, &:before{
									font-size: 13px
								}
							}
						}
		li.arrow.disabled{
			color: #e0e0e0;
		}
	}
	ul.history-info{
		list-style: none;
		padding: 5px 0;
		margin: 0 -15px -10px;
		background: #eaebec;
		.item{
			height: 500px;
		}
		.batery-info, .network-info, .mobile-network-info{
			margin: 0 15px; 
			text-align: left;
			color: $dark_gray;
			height: 50px;
			line-height: 50px;
			.glyphicon{
				margin: 0 20px 0 0;
				color: #9c9c9c;
				width: 20px;
				text-align: center;
			}
			
		}
		.batery-info{
			border-bottom: 1px solid #d7d7d7;
		}
		.network-info-nmbr, .batery-info-nmbr{ 
			text-align: right;
			width: calc(40% - 10px);
			display: inline-block;
			font-size: 13px;
		}
		.batery-info-txt, .network-info-txt{
			width: calc(60% - 30px);
			display: inline-block;
			font-size: 13px;
		}
		.network-info-type{
			width: calc((100% - 40px) / 5);
			font-size: 13px;
			display: inline-block;
		}
		.m-network-info-nmbr{
			text-align: right;
			width: calc(((100% - 40px) / 5) * 4);
			display: inline-block;
			font-size: 13px;
		}
	}
}
.alterar-data-hist{
	display: block; 
	color: $dark_blue; 
	text-decoration: none; 
	text-align: left;
	text-align: left;
	padding: 0px 24px;
	font-size: 11px;
}
#myModalCalendar .modal-header{
	padding: 15px 30px 0;
}
#myModalCalendar .modal-body{
	padding: 0 30px 15px;
}
#myModalCalendar .modal-dialog .modal-footer .btn{ background: none; border: none; color: $dark_blue;}

.modal-footer{ padding: 15px 30px 30px; }

/*----------------------------------------------------------------------------*\
    $MEDIUM
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .left__bar {
    width: 25%;
    .left-contents.collapse{
      display: none;
    }
  }
  .map{
    width: 100%;
  }
}

/*----------------------------------------------------------------------------*\
    $LARGE
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

  .lock,
  .ring,
  .pattern,
  .wipe {
    // height: 146px;
    padding: 20px 0;
  }
  .left__bar {
    width: 20%;
    .left-contents.collapse{
      display: none;
    }
  }
  .map{
    width: 100%;
  }
}
