/*----------------------------------------------------------------------------*\
    CONTENTS
\*----------------------------------------------------------------------------*/
/*

    NOTES           General notes
    PROJECT INFO    Information about the Project
    RESET           CSS reset/normalize
    IMPORTS         External/Vendors CSS Frameworks/Libraries
    FONTS           Customs Fonts that aren't from Google Fonts
    SHARED          Shared elements across the site.
    MAIN            HTML, BODY, etc.
*/

/*----------------------------------------------------------------------------*\
    $NOTES
\*----------------------------------------------------------------------------*/
/*
    How to seach this file:
    append '$' to the desired above section to go straight to it.
*/

/*----------------------------------------------------------------------------*\
    $PROJECT INFO
\*----------------------------------------------------------------------------*/
/*
    Project: Family 24h
    Developer: Gutem <gutem@eokoe.com>
    Project Manager: Gian <gian.vizzotto@eokoe.com>
*/

/*----------------------------------------------------------------------------*\
    $IMPORTS
\*----------------------------------------------------------------------------*/
@import "main";
@import "_bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

/*----------------------------------------------------------------------------*\
    $VARIABLES
\*----------------------------------------------------------------------------*/
$black: #2e2e2e;

$dark_blue: #006599;
$dark_blue_shade: #03405f;

$light_blue: #32ccfe;
$light_blue_shade: #0098ca;

$lighter_gray: #f7f7f7;
$light_gray: #e2e2e2;
$medium_gray: #ccc;
$dark_gray: #666;

/*----------------------------------------------------------------------------*\
    $SHARED
\*----------------------------------------------------------------------------*/
.top {
  background-color: $black;
  width: 100%;
  height: 70px;
  float: left;
}

.logo {
  margin-left: 50px;
  float: left;

  img {
    height: 50px;
    margin-top: 10px;
  }
}

.user-config {
  cursor: context-menu;
  font-size: 32px;
  line-height: 70px;
  margin-right: 15px;
  float: right;
  color: #fff;
}

.config-box {
  display: none;
  background-color: #fff;
  padding: 15px;
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 1000;
  border-radius: 5px;
  border: 1px solid #efefef;

  .top-tip {
    background-color: #fff;
    height: 10px;
    position: absolute;
    right: 10px;
    top: -15px;
    transform: rotate(45deg);
    width: 10px;
  }
}

.confirm-modal,
.config-box {

  div {
    float: left;
    margin: 10px;
  }
}

.avatar {

  img {
    height: 64px;
    width: 64px;
  }
}

.dashboard-content {
  display: none;
}

.content {
  background-color: #ccc;
  float: left;
  position: relative;
  width: 100%;
}

#flash {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 90%;
}

.button__bar {
  background-color: $light_blue;
  width: 10%;
  float: left;
  position: relative;
}

.lock,
.ring,
.pattern,
.wipe {
  float: left;
  width: 100%;
  border-bottom: 1px solid $light_blue_shade;
  position: relative;
  text-align: center;

  p {
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
    margin: 0;
  }

  &:hover {
    background-color: $light_blue_shade;
  }
}

#mapdiv {
  float: left;
  z-index: 10;
  width: 90%;
  height: 100%;
}

.confirm-modal {
  background-color: #fff;
  border-radius: 5px;
  display: none;
  margin-left: -250px;
  outline: 0 none;
  overflow: hidden;
  padding: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 200;
  border: 1px solid #efefef;

  h3 {
    margin-top: 0;
  }

  .close {
    &:hover {
      transform: scale(1.5);
    }
  }
}

.btn-ring {
  float: right;
  clear: both;
}


.preloader {
 position: fixed;
  left: 0; top: 0;
   z-index: 999;
   width: 100%;
   height: 100%;
   overflow: visible;
   background: #333 url('/images/loading.gif') no-repeat center center;
}

/*----------------------------------------------------------------------------*\
    $BILLING
\*----------------------------------------------------------------------------*/
.perfil {
  overflow: hidden;
}

.history {

}

.payment {
  border: 1px solid $medium_gray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;

  h3 {
    margin-bottom: 35px;
  }

  table {
    width: 100%;
    font-size: 16px;
  }

  tr {
    width: 100%;
    border-bottom: 1px solid $medium_gray;

    &:last-child {
      border: none;
    }
  }

  td {
    padding: 10px 0;
  }
}


/*----------------------------------------------------------------------------*\
    $EXTRA_SMALL
\*----------------------------------------------------------------------------*/
@media screen and  (max-width: 991px) {

  .button__bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  #mapdiv {
    float: left;
    width: 100%;
    height: 87%;
    position: relative;
    z-index: 1;
  }

  .lock,
  .ring,
  .pattern,
  .wipe {
    float: left;
    height: 75px;
    width: 25%;

    img {
      margin: 10px auto;
      width: 32px;
    }
  }
}


/*----------------------------------------------------------------------------*\
    $MEDIUM
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/*----------------------------------------------------------------------------*\
    $LARGE
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

  .lock,
  .ring,
  .pattern,
  .wipe {
    // height: 146px;
    padding: 20px 0;
  }
}