/*----------------------------------------------------------------------------*\
    CONTENTS
\*----------------------------------------------------------------------------*/
/*

    NOTES           General notes
    PROJECT INFO    Information about the Project
    RESET           CSS reset/normalize
    IMPORTS         External/Vendors CSS Frameworks/Libraries
    FONTS           Customs Fonts that aren't from Google Fonts
    SHARED          Shared elements across the site.
    MAIN            HTML, BODY, etc.
*/

/*----------------------------------------------------------------------------*\
    $NOTES
\*----------------------------------------------------------------------------*/
/*
    How to seach this file:
    append '$' to the desired above section to go straight to it.
*/

/*----------------------------------------------------------------------------*\
    $PROJECT INFO
\*----------------------------------------------------------------------------*/
/*
    Project: Family 24h
    Developer: Gutem <gutem@eokoe.com>
    Project Manager: Gian <gian.vizzotto@eokoe.com>
*/

/*----------------------------------------------------------------------------*\
    $IMPORTS
\*----------------------------------------------------------------------------*/
@import "main";
@import "_bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);

/*----------------------------------------------------------------------------*\
    $VARIABLES
\*----------------------------------------------------------------------------*/
$black: #2e2e2e;

$dark_blue: #006599;
$dark_blue_shade: #03405f;

$light_blue: #32ccfe;
$light_blue_shade: #0098ca;

$lighter_gray: #f7f7f7;
$light_gray: #e2e2e2;
$medium_gray: #ccc;
$dark_gray: #666;

$light_green: #69dbd2;

/*----------------------------------------------------------------------------*\
    $SHARED
\*----------------------------------------------------------------------------*/

body.home {
  padding-top: 90px;
}

* {
  box-sizing: border-box;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.45em;
  font-weight: bold;
  line-height: 54px;
  margin: 70px 0 40px 40px;
  float: left;

  span {
    float: left;
  }

  small {
    float: left;
    font-size: 0.6em;
    line-height: 2em;
    color: $dark_gray;
    border-left: 1px solid $dark_gray;
    padding-left: 35px;
    margin-left: 35px;
    max-width: 75%;
  }
}

.intro,
.versions {

  a {
    margin-right: 10px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: bolder;
    padding: 12px 15px;

    &:hover {
      color: #fff;
    }

    &.baixar {
      background-color: $dark_blue;
      box-shadow: 0 3px $dark_blue_shade;
    }

    &.video {
      background-color: $light_blue;
      box-shadow: 0 3px $light_blue_shade;
    }
  }
}

.intro{
  a {
    font-size: 0.7em;
  }
}

.terms-content {
  padding: 40px 50px;
  border: 1px solid #e0e0e0;
  h4{
    margin-top: 25px;
  }
}

/*----------------------------------------------------------------------------*\
    $HEADER
\*----------------------------------------------------------------------------*/
.header {
  border-bottom: 1px solid $light_gray;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.header__logo {
  height: 70px;
  margin-top: 25px;
}

.header__tagline {
  color: $medium_gray;
  font-weight: bold;
  margin-top: 75px;
  margin-left: 20px;
  float: left;
  font-size: 12px;
  letter-spacing: 5px;
}
.headermobile__tagline {
  text-align: center;
  padding: 10px 0;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #ccc;
}
.header_dark {
  margin-bottom: 0;
  border: none;
  background-color: $black;
  border-bottom: 4px solid #1a1a1a;

  > .container {
    height: 56px;
  }

  .header__logo {
    width: 171px;
    margin-top: -15px;
  }

  .header__tagline {
    color: $medium_gray;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: 25px;
    text-align: center;
  }

  .navbar{
    margin-bottom: 0;
  }
  .container {
    position: relative;
  }

  .navbar-toggle{
     position: absolute;
     top: 0;
     right: 0;
     border-color: #fff;
     color: #fff;
     float: none;
  }
  .navbar-toggle span{
     background-color: #fff;
  }
  
  .system {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #424343;
    text-align: right;

    .login {
      color: #3dc7f4;
      font-family: Ubuntu;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 15px;
    }
  }
}

.login-menu {
  display: block;
  margin: 5px;
}

.menu {
  font-weight: bold;
  margin-bottom: -5px;

  li {
    list-style: none;
    display: inline;
    margin: 0 5px;
    float: left;
  }

  a {
    color: #fff;
    float: left;
    border-top: 4px solid #2e2e2e;
    border-bottom: 4px solid #1a1a1a;


    &.active,
    &:hover {
      color: #fff;
      border-bottom: 4px solid $light_blue;
      text-decoration: none;
    }
  }
}
@-moz-document url-prefix(){
  .menu {
    position: relative;
    bottom: -5px;
    margin-bottom: 0;
  }

}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
}
.nav > li > a{
  font-size: 1.1em;
  padding-top: 20px;
  padding-bottom: 20px;
}


section {
  width: 100%;
  float: left;
}

/*----------------------------------------------------------------------------*\
    $INTRO
\*----------------------------------------------------------------------------*/
.intro {
  background: url('../images/site_intro.jpg') top center scroll no-repeat, #fff url('../images/site_intro_bg.png') top left scroll repeat-x;
  height: 905px;
  font-family: 'Ubuntu', sans-serif;

  .text {
    margin-top: 185px;
    font-size: 1.4em;
    color: $dark_gray;

    strong {
      font-weight: bold;
    }

  }

  h4 {
    font-size: 2.5em;
    font-weight: bold;
    color: $light_blue;
  }
}

/*----------------------------------------------------------------------------*\
    $FEATURES
\*----------------------------------------------------------------------------*/
.features {
  background: #f3f3f3 url('../images/site_features.jpg') bottom right scroll no-repeat;
  min-height: 800px;

  h3 {
    color: $dark_blue;
  }
}

.list {
  perspective: 1000;
}

.list__item {
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  opacity: .8;
  padding: 15px;
  background-color: #fff;
  transition: 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  border: 1px solid #efefef;

  &.flip {
    background-color: $light_green;
    transform: rotateY(180deg);
  }

  .more, .minus {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
}

.item__front,
.item__back {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.45em;
  font-weight: bold;
  position: relative;
  height: 100%;
  backface-visibility: hidden;
  }

.item__front {
  color: $dark_blue;
  z-index: 2;
  transform: rotateY(0deg);

  .icon {
    margin-bottom: 10px;
    margin-top: 15px;
  }
}

.item__back {
  font-size: 1.35em;
  line-height: 22px;
  color: #fff;
  font-weight: normal;
  transform: rotateY(180deg);
  display: table;
  table-layout: fixed;
  p {
    display:table-cell;
    vertical-align:middle;
    text-align:center
  }
}

/*----------------------------------------------------------------------------*\
    $VERSIONS
\*----------------------------------------------------------------------------*/
.versions {
  background: #fff url('../images/site_versions.jpg') bottom center scroll no-repeat;
  padding-bottom: 220px;

  h3 {
    color: $light_blue;
  }

  .slide {

    img {
      overflow: hidden;
    }

    p {
      font-size: 1.8em;
      font-family: 'Ubuntu', sans-serif;
      margin: 35px 0;
    }

    ul {
      padding-left: 20px;
      font-size: 0.8em;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      color: $light_blue;
    }
  }

  .baixar {
    margin-top: 35px;
    padding: 12px 15px;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }
  
  .carousel-indicators{
    bottom: -50px;
  }
  .carousel-indicators li{
    border-color: #006599;
    background-color: transparent;
  }
  .carousel-indicators .active{
    background-color: #006599;
  }
  .carousel-control{
    color: #006599;
  }
}

/*----------------------------------------------------------------------------*\
    $HELP
\*----------------------------------------------------------------------------*/
.help {
  background: #fff url('../images/site_help.png') top center scroll repeat-x;
  min-height: 700px;

  h3 {
    color: $dark_blue;

    small {
      font-size: 0.6em;
    }
  }

  span.glyphicon {
    font-size: 24px;
    margin: 18px 15px;
    position: absolute;
    top: 70px;
    color: $light_blue;
  }

  input {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 10px 10px 10px 50px;
    border-radius: 5px;
    border: 1px solid $medium_gray;
    font-size: 24px;
    margin: 70px 0 40px;
  }
  .multi-column{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .faq-list{
    font-family: 'Ubuntu', sans-serif;
    clear: both;

    h3{
      font-size: 2em;
      margin: 5px 0;
      color: #32ccfe;
      float: none;
    }

    ul{
      list-style-type: none;
    }
    .question{
      font-weight: bold;
    }
    .answer{
      padding-left: 5px;
      display: none;
    }

    .question:hover{
      cursor: hand;
      cursor: pointer;
      color: $dark_blue;
    }
    .question.active{
      color: $dark_blue;
    }
    .no-results{
      font-style: italic;
      font-size: 1.1em;
      padding: 0 20px;
    }
  }
}

/*----------------------------------------------------------------------------*\
    $CONTACT
\*----------------------------------------------------------------------------*/
.contact {
  background-image: url('../images/site_contact.jpg');
  background-position:  top center;
  background-repeat: repeat-x;
  background-color: #fff;
  padding-bottom: 80px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 16px;

  .container {
    padding-top: 410px;
  }

  .tel {

    .pre {
      font-size: 24px;
    }

    .pre,
    .fone{
      color: #b9f1ff;
    }

    .fone {
      font-size: 36px;
    }
  }

  form {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
  }

  .field {
    padding: 0 10px 0 0;
    margin-bottom: 15px;
  }

  label {
    float: left;
    clear: both;
    color: #fff;

    span {
      color: #069;
    }
  }

  input,
  textarea {
    float: left;
    border-radius: 3px;
    border: none;
    clear: both;
    width: 100%;
    padding: 7px;
    color: #000;
  }

  textarea {
    height: 100px;
  }

  button {
    background-color: $dark_blue;
    width: 250px;

    &:hover {
      color: #fff;
      background-color: $dark_blue_shade;
    }
  }
}

/*----------------------------------------------------------------------------*\
    $FOOTER
\*----------------------------------------------------------------------------*/
footer {
  font-family: 'Ubuntu', sans-serif;
  background-color: $black;
  padding: 40px 0;
  float: left;
  width: 100%;
  color: #fff;

  .logo img {
    height: 70px;
  }

  .links {
    ul {
      float: left;
      padding: 0;
      margin: 0;

      &:first-child {
        margin-left: 0;
      }
    }

    li {
      font-weight: bold;
      margin: 10px 0;
      list-style: none;

      p {
        font-size: 1.2em;
        color: $light_blue;
        margin-bottom: 20px;
      }

      a {
        color: #fff;
        margin-bottom: 15px;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .links,
  .appstore {
    margin-top: 40px;
  }

  .socials-links {
    margin-bottom: 10px;

    p, .networks {
      text-align: center;
      font-weight: bold;
    }

    img {
      margin: 0 5px;
    }
  }

  .socials-links,
  .legal {
    width: 100%;
    float: left;
  }

  .legal {
    margin-top: 20px;
    p {
      color: #fff;
      text-align: center;
    }
  }
}

/*----------------------------------------------------------------------------*\
    $DOWNLOAD
\*----------------------------------------------------------------------------*/
.download {
  border: 1px solid $medium_gray;
  border-radius: 5px;
  background-color: $lighter_gray;
  box-sizing: border-box;
  padding: 30px;
  color: $dark_gray;
  font-family: 'Ubuntu', sans-serif;

  .release {
    margin-bottom: 15px;

    img {
      max-width: 100%;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

//=include login/login.scss

/*----------------------------------------------------------------------------*\
    $EXTRA_SMALL
\*----------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {

  body.home{
    padding-top: 96px;
  }
  .header__tagline{
    text-align: center;
    letter-spacing: 0.2em;
  }
  #login{
    .title{
      text-align: center;
      small{
        font-size: 1.2em;
        tet-align: center;
        float: none;
        display: block;
      }
      h3{
        tet-align: center;
        float: none;
        display: block;
      }
    }
  }
    
  .intro {
    background: #fff url('../images/site_intro_small.png') top center no-repeat;
    background-size: 100% auto;
    height: auto;

    .text {
      margin-top: 260px;
      font-size: 1.1em;
      text-align: center;
    }

    h4 {
      font-size: 2em;
    }
    .baixar{
      margin-bottom: 40px;
    }
  }
  .login-menu{
    display: inline;
    margin: 5px;
  }

  h3 {
    font-size: 2em;
    float: none;
    display: block;
    small {
      float: none;
      display: block;
      text-align: center;
      border: none;
      clear: both;
      margin: 10px 0;
      padding: 0;
      line-height: 1em;
      margin-bottom: 30px;
      max-width: 100%;
    }
    span{
      float: none;
      text-align: center;
    }
  }

  .nav > li{
    margin: 0;
    width: 100%;
  }

  .nav > li > a{
    font-size: 0.8em;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .navbar-nav{
    margin: 0;
  }

  .navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
  }

  .features {
    min-height: 1100px;
    h3{
      margin: 20px auto;
      text-align: center;
      small{
        display: none;
      }
    }
    .item {
      background-color: red;
      width: 100%;
    }
    .list{
      .col-xs-6{
        padding-left: 2px;
        padding-right: 2px;
        .list__item{
          padding: 5px;
          height: 150px;
        }
      }
    }
  }
  
  .versions {
    background-image: none;
    h3{
      margin: 10px;
      text-align: center;
      span{
        text-align: center;
      }
      small{
        text-align: center;
      }
    }
    .carousel-inner{
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      .item.premium{
        background: url("/images/bg_slide_premium.png") no-repeat;
        background-size: 150% auto;
        background-position: 5% 5%;
      }
      .item.free{
        background: url("/images/bg_slide.png") no-repeat;
        background-size: 150% auto;
        background-position: 5% 5%;
      }
      .item{
        font-size: 0.8em;
        text-align: center;
        img{
          width: 50%;
          margin: 100px auto;
          margin-left: 10px;
        }
        .btn{
          margin: 0 auto 20px 0;
        }
        ul{
          list-style-type: none;
          p{
            margin: 10px 0;
          }
        }
      }
    }

    .carousel-inner > .item{
      padding: 0 40px;
      font-size: 0.8em;
    }
  }

  .item__front,
  .item__back {
    font-size: 1em;
  }
  .item__front {
    .icon {
      margin-bottom: 5px;
      margin-top: 10px;
    }
  }
  .item__back {
    font-size: 0.8em;
    line-height: 1em;
  }

  footer {
    .logo,
    .appstore {
      width: 100%;
      text-align: center;

      img {
        clear: both;
        margin-bottom: 10px;
        display: inline;
      }
    }
    .links{
      text-align: center;
      ul{
        float: none;
      }
    }
  }
  .help{
    h3{
      text-align: center;
    }
    .multi-column{
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }
  .contact{
    h3{
      text-align: center;
    }
  }
}

@media screen and (min-width: 459px) and (max-width: 559px) {
  .intro {
    .text {
      margin-top: 350px;
    }
  }
}
@media screen and (min-width: 560px) and (max-width: 766px) {
  .intro {
    .text {
      margin-top: 480px;
    }
  }
  .slide {
    .text {
      padding-top: 80px;
    }
  }
}
/*----------------------------------------------------------------------------*\
    $SMALL
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  h3 {

    small {
      border: none;
      clear: both;
      margin: 10px 0;
      padding: 0;
    }
  }

  .menu li{
    margin: 0;
  }

  .nav > li > a{
    font-size: 0.9em;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header_dark .header__tagline {
    font-size: 11px;
    letter-spacing: 3px;
  }
  .intro {

    .text {
      font-size: 18px;
    }

    h4 {
      font-size: 36px;
    }
  }

  .features {

    .item {
      background-color: green;
    }
  }
  .versions{
    .carousel-inner{
      width: 80%;
      margin: 0 auto;
    }
  }

  footer {

    .appstore {
      text-align: center;
      clear: both;
      float: left;
      width: 100%;
    }
  }
}


/*----------------------------------------------------------------------------*\
    $MEDIUM
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

  .intro {

    h4 {
      font-size: 48px;
    }
  }

  .menu li{
    margin: 0;
  }

  .nav > li > a{
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .features {

    .item {
      background-color: yellow;
    }
  }

  .versions{
    .carousel-inner{
      width: 80%;
      margin: 0 auto;
    }
  }
  footer {

    .appstore {

      img {
        clear: both;
        float: left;
        margin-bottom: 10px;
      }
    }
  }
}

/*----------------------------------------------------------------------------*\
    $LARGE
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
  .header_dark{
    .system {
      .login {
        padding: 10px 30px;
      }
    }
  }
}