/*----------------------------------------------------------------------------*\
    CONTENTS
\*----------------------------------------------------------------------------*/
/*

    NOTES           General notes
    PROJECT INFO    Information about the Project
    RESET           CSS reset/normalize
    IMPORTS         External/Vendors CSS Frameworks/Libraries
    FONTS           Customs Fonts that aren't from Google Fonts
    SHARED          Shared elements across the site.
    MAIN            HTML, BODY, etc.
*/

/*----------------------------------------------------------------------------*\
    $NOTES
\*----------------------------------------------------------------------------*/
/*
    How to seach this file:
    append '$' to the desired above section to go straight to it.
*/

/*----------------------------------------------------------------------------*\
    $PROJECT INFO
\*----------------------------------------------------------------------------*/
/*
    Project: Family 24h
    Developer: Gutem <gutem@eokoe.com>
    Project Manager: Gian <gian.vizzotto@eokoe.com>
*/

/*----------------------------------------------------------------------------*\
    $IMPORTS
\*----------------------------------------------------------------------------*/
@import "main";
@import "_bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);

/*----------------------------------------------------------------------------*\
    $VARIABLES
\*----------------------------------------------------------------------------*/
$black: #2e2e2e;

$dark_blue: #006599;
$dark_blue_shade: #03405f;

$light_blue: #32ccfe;
$light_blue_shade: #0098ca;

$lighter_gray: #f7f7f7;
$light_gray: #e2e2e2;
$medium_gray: #ccc;
$dark_gray: #666;

$light_green: #69dbd2;

/*----------------------------------------------------------------------------*\
    $SHARED
\*----------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 54px;
  margin: 70px 0 40px 40px;
  float: left;

  span {
    float: left;
  }

  small {
    float: left;
    font-size: 30px;
    line-height: 54px;
    color: $dark_gray;
    border-left: 1px solid $dark_gray;
    padding-left: 35px;
    margin-left: 35px;
  }
}

.intro,
.versions {

  a {
    margin-right: 10px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    border: none;

    &:hover {
      color: #fff;
    }

    &.baixar {
      background-color: $dark_blue;
      box-shadow: 0 3px $dark_blue_shade;
    }

    &.video {
      background-color: $light_blue;
      box-shadow: 0 3px $light_blue_shade;
    }
  }
}

/*----------------------------------------------------------------------------*\
    $HEADER
\*----------------------------------------------------------------------------*/
.header {
  border-bottom: 1px solid $light_gray;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.header__logo {
  height: 70px;
  float: left;
  margin-top: 25px;
  margin-bottom: 10px;
}

.header__tagline {
  color: $medium_gray;
  font-weight: bold;
  margin-top: 75px;
  margin-left: 20px;
  float: left;
  font-size: 12px;
  letter-spacing: 5px;
}

.header_dark {
  margin-bottom: 0;
  border: none;
  background-color: $black;
  border-bottom: 4px solid #1a1a1a;

  > .container {
    height: 56px;
  }

  .header__logo {
    bottom: 7px;
    width: 171px;
    position: absolute;
    z-index: 10;
    left: 0;
    margin: 0;
  }

  .header__tagline {
    color: $medium_gray;
    font-weight: bold;
    margin-left: 191px;
    float: left;
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: 25px;
  }

  .container {
    position: relative;
  }

  .system {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #424343;

    .login {
      float: right;
      color: #3dc7f4;
      font-family: Ubuntu;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 0;
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  bottom: -4px;
  font-weight: bold;

  li {
    list-style: none;
    display: inline;
    margin: 0 5px;
    float: left;
  }

  a {
    color: #fff;
    float: left;
    padding-bottom: 19px;

    &.active,
    &:hover {
      color: #fff;
      border-bottom: 4px solid $light_blue;
      text-decoration: none;
      padding-bottom: 15px;
    }
  }
}

section {
  width: 100%;
  float: left;
}

/*----------------------------------------------------------------------------*\
    $INTRO
\*----------------------------------------------------------------------------*/
.intro {
  background: url('../images/site_intro.jpg') top center scroll no-repeat, #fff url('../images/site_intro_bg.png') top left scroll repeat-x;
  height: 905px;
  font-family: 'Ubuntu', sans-serif;

  .text {
    margin-top: 185px;
    font-size: 20px;
    color: $dark_gray;

    strong {
      font-weight: bold;
    }

  }

  h4 {
    font-size: 52px;
    font-weight: bold;
    color: $light_blue;
  }
}

/*----------------------------------------------------------------------------*\
    $FEATURES
\*----------------------------------------------------------------------------*/
.features {
  background: #fff url('../images/site_features.jpg') top right scroll no-repeat;
  height: 1016px;

  h3 {
    color: $dark_blue;
  }
}

.list {
  perspective: 1000;
}

.list__item {
  height: 204px;
  width: 30%;
  float: left;
  margin: 10px;
  border-radius: 10px;
  opacity: .8;
  padding: 15px;
  background-color: #fff;
  transition: 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

  &.flip {
    background-color: $light_green;
    transform: rotateY(180deg);
  }

  .more, .minus {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
}

.item__front,
.item__back {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  height: 100%;
  backface-visibility: hidden;
  }

.item__front {
  color: $dark_blue;
  z-index: 2;
  transform: rotateY(0deg);

  .icon {
    margin-bottom: 10px;
  }
}

.item__back {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: normal;
  transform: rotateY(180deg);
}

/*----------------------------------------------------------------------------*\
    $VERSIONS
\*----------------------------------------------------------------------------*/
.versions {
  background: #fff url('../images/site_versions.jpg') bottom center scroll no-repeat;

  h3 {
    color: $light_blue;
  }

  .slide {
    height: 541px;
    margin: 70px 0 170px;

    img {
      overflow: hidden;
    }

    .text {
      font-size: 20px;
      font-family: 'Ubuntu', sans-serif;
      top: 105px;
      right: 70px;
      position: absolute;
    }

    ul {
      padding-left: 20px;
      font-size: 22px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      color: $light_blue;
    }
  }

  .baixar {
    margin-top: 35px;
    padding: 12px 15px;
  }
}

/*----------------------------------------------------------------------------*\
    $HELP
\*----------------------------------------------------------------------------*/
.help {
  background: #fff url('../images/site_help.png') top center scroll repeat-x;
  height: 700px;

  h3 {
    color: $dark_blue;

    small {
      font-size: 24px;
    }
  }

  span.glyphicon {
    font-size: 24px;
    margin: 18px 15px;
    position: absolute;
    top: 70px;
    color: $light_blue;
  }

  input {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 10px 10px 10px 50px;
    border-radius: 5px;
    border: 1px solid $medium_gray;
    font-size: 24px;
    margin: 70px 0 40px;
  }
}

/*----------------------------------------------------------------------------*\
    $CONTACT
\*----------------------------------------------------------------------------*/
.contact {
  background: #fff url('../images/site_contact.jpg') top center scroll repeat-x;
  height: 1034px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 16px;

  .container {
    padding-top: 410px;
  }

  .tel {

    .pre {
      font-size: 24px;
    }

    .pre,
    .fone{
      color: #b9f1ff;
    }

    .fone {
      font-size: 36px;
    }
  }

  form {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
  }

  .field {
    padding: 0 10px 0 0;
    margin-bottom: 15px;
  }

  label {
    float: left;
    clear: both;
    color: #fff;

    span {
      color: #069;
    }
  }

  input,
  textarea {
    float: left;
    border-radius: 3px;
    border: none;
    clear: both;
    width: 100%;
    padding: 7px;
  }

  textarea {
    height: 100px;
  }

  button {
    background-color: $dark_blue;
    width: 250px;

    &:hover {
      color: #fff;
      background-color: $dark_blue_shade;
    }
  }
}

/*----------------------------------------------------------------------------*\
    $FOOTER
\*----------------------------------------------------------------------------*/
footer {
  background-color: $black;
  padding: 40px 0;
  float: left;
  width: 100%;
  color: #fff;

  .logo img {
    height: 70px;
  }

  .logo,
  .links {
    float: left;
  }

  .links {
    margin-left: 50px;

     ul {
      float: left;
      padding-left: 0;
      margin-left: 80px;

      &:first-child {
        margin-left: 0;
      }
     }

    li {
        font-family: 'MavenPro', sans-serif;
        font-weight: bold;
        margin: 10px 0;
        list-style: none;

      p {
        font-size: 18px;
        color: $light_blue;
        margin-bottom: 20px;
      }

      a {
        font-size: 12px;
        color: #fff;
        margin-bottom: 15px;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .links,
  .appstore {
    margin-top: 40px;
  }

  .appstore {
    float: right;

    img:first-child {
      margin-right: 15px;
    }
  }

  .socials-links {
    margin-bottom: 10px;

    p, .networks {
      text-align: center;
      font-weight: bold;
    }

    img {
      margin: 0 5px;
    }
  }

  .socials-links,
  .legal {
    width: 100%;
    float: left;
  }

  .legal {

    p {
      color: #fff;
      text-align: center;
    }
  }
}

/*----------------------------------------------------------------------------*\
    $DOWNLOAD
\*----------------------------------------------------------------------------*/
.download {
  border: 1px solid $medium_gray;
  border-radius: 5px;
  background-color: $lighter_gray;
  overflow: hidden;
  width: calc(50% - 10px);
  box-sizing: border-box;
  float: left;
  padding: 30px;
  color: $dark_gray;
  font-family: 'Ubuntu', sans-serif;

  .release {
    width: 50%;
    float: left;
    margin-bottom: 15px;
  }

  h4 {
    font-weight: bold;
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}

//=include login/login.scss

/*----------------------------------------------------------------------------*\
    $EXTRA_SMALL
\*----------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  h3 {

    small {
      border: none;
      clear: both;
      margin: 10px 0;
      padding: 0;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  .intro {

    .text {
      font-size: 18px;
    }

    h4 {
      font-size: 36px;
    }
  }

  .features {

    .item {
      background-color: red;
      width: 100%;
    }
  }

  footer {
    .logo,
    .appstore {
      width: 100%;
      text-align: center;

      img {
        clear: both;
        margin-bottom: 10px;
      }
    }
  }
}


/*----------------------------------------------------------------------------*\
    $SMALL
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  h3 {

    small {
      border: none;
      clear: both;
      margin: 10px 0;
      padding: 0;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  .intro {

    .text {
      font-size: 18px;
    }

    h4 {
      font-size: 36px;
    }
  }

  .features {

    .item {
      background-color: green;
    }
  }

  footer {

    .appstore {
      text-align: center;
      clear: both;
      float: left;
      width: 100%;
    }
  }
}


/*----------------------------------------------------------------------------*\
    $MEDIUM
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

  .intro {

    h4 {
      font-size: 48px;
    }
  }
  .features {

    .item {
      background-color: yellow;
    }
  }

  footer {

    .appstore {

      img {
        clear: both;
        float: left;
        margin-bottom: 10px;
      }
    }
  }
}

/*----------------------------------------------------------------------------*\
    $LARGE
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

}