include ../../layout/header_interna.jade

section.main
  .container
    .col-xs-12.col-sm-10.col-md-8.col-lg-6.col-sm-offset-1.col-md-offset-2.col-lg-offset-3
      .title
        h3.title__header Login
        small.title__tagline Bem vindo ao Family24h

      form(name="pass_reset_form")
        .form__field.email
          label(for="email") Email
          small(class="email_return")
          input.form__input(type="email" name="email" id="email")

        .form__field.success
          p Email enviado com sucesso. <br />Cheque a sua pasta de SPAM.

        .form__field.fail
          p Ocorreu um problema ao enviar sua requisição. <br/ > Tente novamente em alguns minutos.

        .form__field.envia
          input.form__button(type="button" class="btn btn-lg btn-block" onclick="passwordRecovery()" value="Enviar")

include ../../scripts.jade

script(src="/scripts/password/reset/pass_reset.min.js")