/*----------------------------------------------------------------------------*\
    $LOGIN
\*----------------------------------------------------------------------------*/
.header {
  border-bottom: 1px solid $light_gray;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.header__logo {
  height: 110px;
  float: left;
  // margin-left: 50px;
}

.header__tagline {
  color: $medium_gray;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 20px;
  float: left;
}

.title,
.form__field {
  padding: 20px 15px;
  position: relative;
  float: none;
  box-sizing: border-box;
}

.title {
  width: 100%;
  overflow: hidden;
}

.title__header {
  font-size: 48px;
  color: $light_blue;
  font-weight: bold;
  line-height: 54px;
  margin-top: 20px;
  float: left;
}

.title__tagline {
  font-size: 24px;
  line-height: 54px;
  color: $dark_gray;
  border-left: 1px solid $dark_gray;
  padding-left: 35px;
  float: left;
  margin-left: 35px;
  margin-top: 20px;
}

.form__field {
  border: 1px solid $medium_gray;
  border-radius: 5px;
  background-color: $lighter_gray;
  overflow: hidden;
  width: 92%;
  margin: 0 auto;
}

.main {
  font-family: 'Ubuntu', sans-serif;

  form {

    label {
      color: $dark_gray;
    }

    label,
    input {
      clear: both;
      float: left;
    }

    input {
      padding: 10px 5px;
      border-radius: 5px;
      border: 1px solid $light_gray;
      margin-bottom: 15px;
      width: 100%;

      &[type="checkbox"] {
        width: auto;
        float: left;
      }

      &[type="checkbox"] + label {
        clear: none;
        margin-left: 5px;
      }
    }

    a {
      float: right;
      color: $dark_gray;
    }

    button {
      font-family: 'Maven Pro', sans-serif;
      font-weight: bold;
      background-color: $light_blue;
      float: left;
      margin: 20px 0 !important;
      color: #fff;

      &:hover {
        background-color: $light_blue_shade;
        color: #fff;
      }
    }
  }
}

/*----------------------------------------------------------------------------*\
    $EXTRA_SMALL
\*----------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .header__logo,
  .header__tagline {
    float: none;
    text-align: center;
  }

  .header__tagline {
    margin-top: 0;
  }

  .title {
    margin-bottom: 20px;
  }

  .title__header,
  .title__tagline {
    float: left;
    clear: both;
  }

  .title__header {
    margin: 0;
  }

  .title__tagline {
    padding-left: 0;
    border: none;
    margin: 0;
  }

  .form__field {
    clear: both;
  }
}


/*----------------------------------------------------------------------------*\
    $SMALL
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
 
}


/*----------------------------------------------------------------------------*\
    $MEDIUM
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/*----------------------------------------------------------------------------*\
    $LARGE
\*----------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
  
}