doctype html
html(lang="pt-BR")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Family 24h
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="apple-touch-icon" href="apple-touch-icon.png")

        <!-- Place favicon.ico in the root directory -->
        link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")

        link(rel="stylesheet" href="/styles/internal.min.css")

        script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

    body.dashboard
    div.preloader
    != "<div class=\"dashboard-content\">"
        .top
          .top-left-wrap.col-md-6.col-lg-8
            .logo
              a(href="/dashboard")
                img(src="/images/logo-positivo.svg")
            .int-page-title
              h2 Painel de Controle
            .user-buttons
              .user-messages.glyphicon.glyphicon-comment
                .counter
              .user-config.glyphicon.glyphicon-cog
            p.profile_picture_url
            .gender
            .config-box
              .top-tip
              ul.buttons
                li
                  a.lock(href="#" onclick="displayModal('lock');")
                    img(src="/images/ic_phonelink_lock_black_48px.svg")
                    p Mark as stolen
                li
                  a.ring(href="#" onclick="displayModal('ring');")
                    img(src="/images/ic_speaker_phone_black_48px.svg")
                    p Ring
                li
                  a.wipe(href="#" onclick="displayModal('wipe');")
                    img(src="/images/ic_phonelink_erase_black_48px.svg")
                    p Wipe
                li
                  a.logout(href="/logout")
                    img(src="/images/ic_logout_black_48px.svg")
                    p Logout
            .message-box
              .top-tip
              .message-list
          .top-right-users-wrap.col-md-3.col-lg-2
          .top-right-groups-wrap.col-md-3.col-lg-2
