doctype html
!= "<html lang=\"pt-BR\""
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Family 24h
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")

    <!-- Place favicon.ico in the root directory -->
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

    link(rel="stylesheet" href="/styles/style.css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

  != "<body>"

    header.header
      .container
        a(href="/")
            img.header__logo(src="/images/logo-positivo.svg")
        p.header__tagline SUA FAMILIA EM BOAS MÃOS