include ../layout/header.jade

.dashboard(role="main")

  section.content
    #flash.alert(role="alert")
      .message
      button(type="button" class="close" aria-label="Close")
        span(aria-hidden="true") &times;
    .left__bar
      .fixed-top
        .group-toggle.hidden-md.hidden-lg(data-toggle="collapse" data-target="#leftContents" aria-expanded="false" aria-controls="leftContents")
          span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true")
        .contents
      #leftContents.left-contents.collapse
    .map
      #mapdiv
      #overmap
        .icons
          ul
            li.force-position
              a(title="Force position" alt="Force position")
                span.glyphicon.glyphicon-screenshot(aria-hidden="true")
            li.virtual-fences
              a(title="Virtual fences" alt="Virtual fences")
                span.glyphicon.glyphicon-record(aria-hidden="true")
            li.delete
              a(title="Delete" alt="Delete")
                span.glyphicon.glyphicon-remove(aria-hidden="true")
            li.save
              a(title="Save" alt="Save")
                span.glyphicon.glyphicon-ok(aria-hidden="true")
            li.edit
              a(title="Edit" alt="Edit")
                span.glyphicon.glyphicon-pencil(aria-hidden="true")
            li.calendar
              a(title="Select date interval" alt="Select date interval")
                span.glyphicon.glyphicon-calendar(aria-hidden="true")
    .bottom__bar
      .icon-bottom-bar.text-center
        img(src="/images/icon-bottom-bar.svg")
      .contents
      
    #contextMenu.dropdown.clearfix
      ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu")

    .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(data-dismiss="modal" aria-label="Close")
              .span(aria-hidden="true") &times;
            h4.modal-title(id="myModalLabel") Modal title
          .modal-body
            #flash-modal.alert(role="alert")
              .message
              button(type="button" class="close" aria-label="Close")
                span(aria-hidden="true") &times;
            .row
              .col-sm-3.col-xs-12.text-center
                .avatar
                  img(src="")
              .col-sm-9.col-xs-12
                p This will ring your phone for 15 seconds
          .modal-footer
            button.btn.btn-primary Ring


    .modal.fade(id="myModalInvites" tabindex="-1" role="dialog" aria-labelledby="myModalInvitesLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(data-dismiss="modal" aria-label="Close")
              .span(aria-hidden="true") &times;
            h4.modal-title(id="myModalInvitesLabel") Invites
          .modal-body
            .flash-modal.alert(role="alert")
              .message
              button(type="button" class="close" aria-label="Close")
                span(aria-hidden="true") &times;
            .invites
              .item.active
                .invite-count
                .row
                  .col-xs-12
                    .group-thumb
                      .image
                    .group-info
                      .caption-name Group Name
                      .name
                      .caption-date
                      .date
                .row
                  .col-xs-12
                    .caption-member Invited by
                    .member-thumb
                      .image
                    .member-info
                      .name
                .row
                  .col-xs-6.text-right
                    button.btn.btn-success.accept-invite Accept
                  .col-xs-6.text-left
                    button.btn.btn-danger.deny-invite Deny
            .no-invites
          .modal-footer
            button.btn.btn-primary Next

    .modal.fade(id="myModalCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalCalendarLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(data-dismiss="modal" aria-label="Close")
              .span(aria-hidden="true") &times;
            h4.modal-title(id="myModalCalendarLabel") Selecione uma data
          .modal-body
            #flash-modal.alert(role="alert")
              .message
              button(type="button" class="close" aria-label="Close")
                span(aria-hidden="true") &times;
            .row
              .calendar(id="datepicker")
              .time-label
                .row
                  .col-xs-6
                    span.hour-ini 01:00
                  .col-xs-6.text-right
                    span.hour-end 23:59
              .time-slider(id="time-slider")
                
          .modal-footer
            button.btn.btn-primary#save Salvar

include ../scripts.jade

script(src="/scripts/jquery.ba-hashchange.js")
script(src="/scripts/dashboard/dashboard.js")

script.
  //- geo_location();
  //- resizeSidebar();

include ../layout/footer.jade