section.help#help
  .container
    .row
      a(name="help") 
      h3
        span Ajuda
        small Precisa de ajuda? Tem perguntas? Encontre as respostas que você precisa aqui

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      span.glyphicon.glyphicon-search
      input(type="text" id="busca" name="busca" placeholder="Digite aqui sua pergunta")

    .faq-list.multi-column