doctype html
html(lang="pt-BR")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Family 24h
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")

    <!-- Place favicon.ico in the root directory -->
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

    link(rel="stylesheet" href="styles/style.css")

  body.home

    header.header.header_dark.navbar-fixed-top
      .system
        .container
          .headermobile__tagline.hidden-sm.hidden-md.hidden-lg  SUA FAMÍLIA EM BOAS MÃOS
          .login-menu.hidden-xs
            a.login(href="/login") LOGIN

      nav(class="navbar navbar-custom" role="navigation")
        .container
          .row
            .col-sm-2.col-xs-12
              a(href="/")
                img.header__logo(src="images/logo-negativo.svg")
            .col-sm-5.col-xs-12.hidden-xs
              p.header__tagline SUA FAMÍLIA EM BOAS MÃOS
            .col-sm-5.col-xs-12
              nav.menu.navbar-collapse.collapse
                ul.nav.navbar-nav
                  li
                    a(href="#intro") Conheça
                  li
                    a(href="#features") Vantagens
                  li
                    a(href="#versions") Versões
                  //-li
                    a(href="#help") Ajuda
                  li
                    a(href="download") Downloads
                  li.hidden-sm.hidden-md.hidden-lg
                    a(href="login") Login
          button(class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

    section.intro#intro
      .container

        .text.col-xs-12.col-sm-5
          h4 Sua família mais protegida!
          p <strong>Family24h</strong> é um aplicativo mobile focado na segurança de sua família, no qual você tem acesso, online, a localização dos aparelhos cadastrados, através de um mapa interativo.

          a(class="btn btn-default baixar" href="/download" role="button") Baixe agora, é gratuito!

          //- a(class="btn btn-default video" href="#" role="button") Assista ao vídeo

    include home_features.jade

    section.versions#versions
      .container
        .row
          h3
            span Versões
            small Ainda mais proteção para sua familia

        .slide.carousel(id="myCarousel" data-ride="carousel" data-interval="10000")
          ol.carousel-indicators
            li.active(data-target="#myCarousel" data-slide-to="0")
            li(data-target="#myCarousel" data-slide-to="1")

          .carousel-inner(role="list-box")
            .item.premium.active
              .row
                .col-sm-4.col-md-5.hidden-xs
                  img(src="images/premium_image.png").img-responsive

                .col-xs-12.col-sm-8.col-md-7
                  img(src="images/premium_logo.png").img-responsive
                  p.text Com o <strong>Family24h Premium</strong> é possível inserir membros em seu grupo e ter acesso, em tempo real, a um mapa interativo que mostra a posição exata de cada membro e todas as funcionalidades do aplicativo.

                  ul
                    li
                      p Mapa interativo em tempo real
                    li
                      p Alerta de pânico
                    li
                      p Alerta de perímetros
                    li
                      p Monitoramento de aparelhos perdidos ou roubados

                  a(class="btn btn-default baixar" href="download" role="button") Não perca, baixe agora!
            .item.free
              .row
                .col-sm-4.col-md-5.hidden-xs
                  img(src="images/free_image.png").img-responsive

                .col-xs-12.col-sm-8.col-md-7
                  img(src="images/free_logo.png").img-responsive
                  p.text <strong>Family24h Free</strong> permite ao usuário testar as funcionalidades de monitoramento em tempo real e segurança para seu próprio aparelho celular.

                  ul
                    li
                      p Mapa interativo em tempo real
                    li
                      p Monitoramento de aparelhos perdidos ou roubados

                  a(class="btn btn-default baixar" href="download" role="button") Não perca, baixe agora!

          .left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only Previous
          .right.carousel-control(href="#myCarousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span.sr-only Next

    //include home_help.jade


    section.contact#contact
      .container
        .row
          a(name="contact")
          h3 Contato

        .tel.col-sm-12.col-md-6.col-lg-6
          p.hidden-xs Entre em contato por telefone
          p.hidden-xs
            span.pre +55 11
            span.fone &nbsp;3386-8181

        .message.col-sm-12.col-md-6.col-lg-6
          // p Ou, por email
          form#contactForm
            .alert.message
            .field.col-xs-12.col-sm-12.col-md-6.col-lg-6
              label(for="name") Nome
                span *
              input(type="text" name="name" id="name")

            .field.col-xs-12.col-sm-12.col-md-6.col-lg-6
              label(for="email") Email
                span *
              input(type="text" name="email" id="email")

            .field.col-xs-12.col-sm-12.col-md-12.col-lg-12
              label(for="") Mensagem (máximo 300 caracteres)
                span *
              textarea(name="message" id="message")

            button(type="button" class="btn btn-lg") Enviar Mensagem

    footer
      .container
        .row
          .logo.col-xs-12.col-sm-2
            a(href="/")
              img(src="images/logo-negativo.svg").img-responsive

          .links.col-xs-12.col-sm-6
            .row
              .col-xs-12.col-sm-4
                ul
                  li
                    p Sobre
                  li
                    a(href="#intro") Conheça
                  li
                    a(href="#features") Vantagens
                  li
                    a(href="termos.html") Termos de Uso

              .col-xs-12.col-sm-4
                ul
                  li
                    p Versões
                  li
                    a(href="#versions") Gratuito
                  li
                    a(href="#versions") Premium
              .col-xs-12.col-sm-4
                ul
                  li
                    p Ajuda
                  li
                    a(href="#help") Suporte
                  li
                    a(href="#contact") Contato

          .appstore.col-xs-12.col-sm-2
            a(href="https://play.google.com/store/apps/details?id=br.com.family_24h" target="_blank")
              img(src="images/google_play.png" title="Baixar o app no Google Play")
          .appstore.col-xs-12.col-sm-2
            img(src="images/app_store_soon.png" title="Em Breve")

        //-.socials-links
          p Siga-nos
          .networks
            a(href="#")
              img(src="images/icon_footer_facebook.png")
            a(href="#")
              img(src="images/icon_footer_tumblr.png")
            a(href="#")
              img(src="images/icon_footer_pinterest.png")
            a(href="#")
              img(src="images/icon_footer_twitter.png")
            a(href="#")
              img(src="images/icon_footer_youtube.png")
            a(href="#")
              img(src="images/icon_footer_linkedin.png")
            a(href="#")
              img(src="images/icon_footer_gplus.png")

        .legal
          p
            | Copyright &copy; 2015 - Family 24h - An&nbsp;
            a(href="http://www.eokoe.com") Eokoe
            |&nbsp;Project

    include scripts.jade

    script.
      // Smooth Scrolling
      $('a[href^="#"]').on('click', function(event) {

          var obj = $(this);
          var target = $( $(this).attr('href') );

          if( target.length ) {
              event.preventDefault();
              $('html, body').animate({
                  scrollTop: target.offset().top - 90
              }, 1000);
              $(".menu ul li a").removeClass("active");
              obj.addClass("active");
          }
      });

      // Features's Flip on click
      $(".list__item .item__front").click(function() {
        $(this).hide();
        $(this).parent().addClass("flip");
        $(this).next().show();
      });

      $(".list__item .item__back").click(function() {
        $(this).hide();
        $(this).parent().removeClass("flip");
        $(this).prev().show();
      });
      loadFAQ();

      $('#contactForm button').on('click', function(event) {
          sendContact();
      });

