<!-- Scripts -->
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    :javascript
      window.jQuery || document.write('<script src="assets/scripts/vendor/jquery-1.11.3.min.js")<\/script>')
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true")

    <!-- Bootstrap Scripts-->
    %script(src="assets/scripts/bootstrap/alert.js")

    <!-- Local Scripts-->
    %script(src="assets/scripts/plugins.js")
    %script(src="assets/scripts/lib.js")
    %script(src="assets/scripts/main.js")


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
