%section.features
  .container
    .row
      %h3
        %a(name="features") 
        %span Vantagens
        %small Só o Family24h oferece:

    .list.col-xs-12.col-sm-12.col-md-9.col-lg-9

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_warn.png")
          %p 
            Alerta de 
            %br 
            Panico

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_id.png")
          %p 
            Detalhamento
            %br
            do dispositivo

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_sms.png")
          %p 
            Avisos por
            %br
            SMS

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_fence.png")
          %p 
            Cercas
            %br
            virtuais

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_simcard.png")
          %p 
            Aviso de
            %br
            substituição
            %br
            do SIMCARD

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_velocidade.png")
          %p 
            Informações
            %br
            de velocidade

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_eye.png")
          %p 
            Proteção contra
            %br
            roubo do aparelho
            %br
            e dos dados

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_warn.png")
          %p Item description normal

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")

      .list__item
        .item__front
          %img.icon(src="assets/images/icon_geolocation.png")
          %p  
            Histórico de
            %br
            posições

          %img.more(src="assets/images/icon_more.png")
        .item__back
          %p Utilizar nossa plataforma web (Family24h.com) para ter acesso a todos os aparelhos sem precisar do seu celular

          %img.minus(src="assets/images/icon_minus.png")
