%section.help
  .container
    .row
      %h3 
        %span Ajuda
        %small Precisa de ajuda? Tem perguntas? Encontre as respostas que você precisa aqui

    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 

      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 

    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 

      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 

    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 

      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 

    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 

      %h4 Gerais
        %ul
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 
          %li
            %a(href="#") Item 