//=require header.haml

.dashboard(role="main")
  .top
    %p.name Name
    %p.profile_picture_url
    .gender
    %span.user_config.glyphicon.glyphicon-cog
    .config_box
      %p logout
  
  .sidebar
    %p.email Email
    %p.telephone Telephone

    %a.lock(href="#")
    %a.ring(href="#")
    %a.pattern(href="#")
    %a.wipe(href="#")

  %section.content
    #flash.alert.alert-danger.alert-dismissible.fade.in(role="alert")
      %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true") &times;
    #mapdiv

//=require footer.haml