//=include header_interna.haml

%section.main
  .container
    .col-xs-12.col-sm-10.col-md-8.col-lg-6.col-sm-offset-1.col-md-offset-2.col-lg-offset-3
      .title
        %h3.title__header Login
        %small.title__tagline Bem vindo ao Family24h

      %form
        .form__field
          %label(for="email") Email
          %input.form__input(type="email" name="email" id="email")

          %label(for="password") Senha
          %input.form__input(type="password" name="password" id="password")

          %input(type="checkbox" name="remember" id="remember")
          %label(for="remember") Mantenha-me conectado

          %a(href="#") Esqueci minha senha

          %button.form__button(type="button" class="btn btn-lg btn-block") Entrar

//=include footer.haml