//=include header.haml

.header
  .logo
    %img(src="assets/images/logo-positivo.svg")
    %p SUA FAMILIA EM BOAS MÃOS

%section.main
  .container
    .col-xs-12.col-sm-10.col-md-8.col-lg-6.col-sm-offset-1.col-md-offset-2.col-lg-offset-3
      .field.col-xs-11.col-sm-11.col-md-11.col-lg-11
        %h3 Login
          %small Bem vindo ao Family24h

      %form.clearfix
        .field.col-xs-11.col-sm-11.col-md-11.col-lg-11
          %label(for="email") Email
          %input(type="email" name="email" id="email")

          %label(for="password") Senha
          %input(type="password" name="password" id="password")

          %input(type="checkbox" name="remember" id="remember")
          %label(for="remember") Mantenha-me conectado

          %a(href="#") Esqueci minha senha

          %button(type="button" class="btn btn-lg btn-block") Entrar

//=include footer.haml